<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1><center>Hello There !</center></h1>
    <h1><center>Welcome to D-Mart ( Dhruv's Mart ) </center></h1>
    <h1><center>Grocery Store Application  </center></h1>
    
    <div>
        <br>
        <br>
        <center>
            <button> <a href="/user_login">Login as User </a></button>
            <button> <a href="/manager_login">Login as Manager</a></button>
        </center>   
    </div>
</body>
</html>