<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 ><center>Manager Login</center></h2>
    <form action="/manager_login" method="post">
        <div>
        <center>
            <label for="man_name">Manager Name :</label>
            <input type="text" id="man_name" name="man_name" required minlength="2">
            <br>
            <br>
            <label for="manager_pass">Password :</label>
            <input type="password" id="manager_pass" name="manager_pass" required minlength="2">
            <br>
            <br>
            <input type="submit" value="Login">
        </center>
        </div>
    </form>
</body>
</html>