<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 ><center>User Login </center></h2>
    <form action="/user_login" method="post">
        <div>
            <center> 
            <label for="username">Username :</label>
            <input type="text" id="username" name="username">
            </center>
        </div>
        <br>
        <div>
            <center> 
            <label for="pass">Password :</label>
            <input type="password" id="pass" name="pass">
            </center> 
        </div>
        <br>
        <div>
            <center>
            <input type="submit" value="Login">
            <button><a href="/user_signup">Sign Up </a></button>
            </center> 
        </div>
    </form>
</body>
</html>