<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>User Signup</h2>
        <form action="/user_signup" method="post">
            <div>
              
                <label for="username">Username :</label>
                <input type="text" id="username" name="username" required minlength="2">
           
            </div>
            <br>
            <div>
             
                <label for="pass">Password :</label>
                <input type="password" id="pass" name="pass" required minlength="4">
         
            </div>
            <br>
            <input type="submit" value="Register">
            </form>
            
   </center>
</body>
</html>